.test__div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.similarModuleCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.similarModuleCard {
  width: 45%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.5rem;
  margin: 1.5rem;

}

.similarModuleName {
  font-weight: 700;
  background: var(--primary-color);
  color: #fff;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.similarModuleUniversity {
  font-weight: 500;
}

.similarModuleContent {
  padding: 0.5rem;
}