.universityItem{
    display: flex;
    flex: 1;
    flex-direction: row;
    cursor: inherit;
    border-radius: 8px;
}

.universityItemSelected div{
    background: #439a86;
}

.universityItemSelectedBorder{
   border-radius: 10px;
}

.universityItemFlag{
    display: flex;
    flex: 0.1;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 5px;
    
}

.universityItemText{
    display: flex;
    flex: 0.9;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 15px;
}

.navigationButtons{
    background: #439a86;
    border-radius: 10px;
    color: white;
}
